h1 {
    
    
    padding: 5px;
}
h1:hover{
    text-shadow: 0px 0px 5px red, 0px -5px 5px orange;
    box-shadow: 5px 5px 4px grey;
    transition: 0.5s;
}
p{
    border-style: outset;
    border-width: 5px;
    border-radius: 20px;
    padding: 20px;
}
/* BackGround */
p{
    background: linear-gradient(to left, skyblue, white);
}
body{
    background-image: url("../IMG/avatarHead.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}