* {
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  border: 2px solid black;
  /* grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 25vh);

  /* Задання розмірів неявно зіданих рядків */
  grid-auto-rows: 15vh 30vh;
  /* grid-auto-flow: column; */

  column-gap: 20px;
  row-gap: 5px;

  /* gap: 20px 25px; */
}

.header-item {
  grid-column: 1 / -1;
}
.stretched {
  /* grid-row: 3 / 6; */
  grid-row: span 4;
}

.item {
  box-sizing: border-box;
  color: #fff;
  text-align: center;
  font-size: 2rem;
  padding: 1.5rem;
}

.color1 {
  background-color: cadetblue;
}
.color2 {
  background-color: lawngreen;
}
.color3 {
  background-color: darkgoldenrod;
}
.color4 {
  background-color: crimson;
}
.color5 {
  background-color: blueviolet;
}
.wrapper {
  display: grid;
  grid-template-columns: [start_] 1fr [center-left] 1fr [center-right] 1fr [end_];
  grid-template-rows: [row0] 1fr [row1] 15vh [row2] 1fr [row3];
}
.wrapper .color4{
    grid-area: row1 / start_ / row3 / center-right;
}
.wrapper .color5 {
    grid-area: 2 / 3 / -1 / -1;
}
