@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  max-width: 540px;
  margin: 0 auto;
  padding: 1.5rem 1.125rem;
  box-sizing: border-box;
  text-align: center;
}

.container h2 {
  margin-bottom: 2.25rem;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #727272;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

h1 {
  padding: 3.75rem;
  font-size: 48px;
  margin-left: 20.25rem;
  color: #000;
}
@media (max-width: 680px) {
  h1 {
    margin-left: auto;
    margin-right: auto;
  }
}

.test {
  background-color: #9900ff;
  color: #31eda8;
}

h2 {
  font-size: 32px;
  color: #000;
}

@media (min-width: 650px) {
  .cont2 {
    margin: 0;
    padding: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.full-width, .img {
  width: 100%;
}

.section {
  background-color: #34547A;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.icons {
  display: flex;
  justify-content: center;
  padding: 4.7625rem;
}
@media (max-width: 680px) {
  .icons {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 680px) {
  .icon {
    flex-basis: 50%;
  }
}

.icon .item {
  padding-left: 0.9rem;
}

.fot {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 21rem;
}

.fot .p1 {
  font-size: 25px;
  padding-bottom: 1.5rem;
}

footer {
  background-color: #34547A;
  padding: 2.4375rem;
}

.icon {
  display: flex;
  color: #fff;
  padding: 1.5rem;
}

.base-video {
  width: 1110px;
  height: 600px;
  flex-wrap: wrap;
}
@media (max-width: 680px) {
  .base-video {
    width: 600px;
    height: 400px;
  }
}

.video {
  text-align: center;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

img {
  width: 50px;
  height: 50px;
}

li {
  display: flex;
  padding: 0.3rem;
  padding-left: 1.5rem;
  font-size: 16px;
}

ul {
  display: flex;
}

nav {
  width: 646px;
  margin-bottom: 6.75rem;
  padding-top: 3.75rem;
  margin-left: 22.875rem;
}

.p {
  margin-bottom: 3rem;
  width: 540px;
  height: 67px;
  margin-left: 24rem;
}
@media (max-width: 680px) {
  .p {
    margin-right: auto;
    margin-left: auto;
  }
}

.default-btn {
  margin-bottom: 9.375rem;
  margin-left: 24rem;
}
@media (max-width: 680px) {
  .default-btn {
    margin-left: 11.25rem;
  }
}

@media (min-width: 2350px) {
  .main {
    display: flex;
  }
}

@media (min-width: 2350px) {
  .cont3 {
    margin-left: 28.5rem;
    margin-top: 13.5rem;
  }
}

.main-menu {
  display: block;
}

@media (max-width: 680px) {
  .main-menu a {
    color: #fff;
  }
}

@media (max-width: 680px) {
  .fot {
    padding-left: 0.75rem;
  }
}

.collapse,
.navbar {
  display: none;
}
@media (max-width: 680px) {
  .collapse,
  .navbar {
    display: block;
    margin-left: auto;
  }
}

@media (max-width: 680px) {
  .navig {
    display: none;
  }
}

.text-primary {
  color: #2f6cee;
}

.text-hover-primary:hover {
  color: #2f6cee;
}

.bg-primary {
  background-color: #2f6cee;
}

.text-secondary {
  color: #31eda8;
}

.text-hover-secondary:hover {
  color: #31eda8;
}

.bg-secondary {
  background-color: #31eda8;
}

.text-error {
  color: #ff0000;
}

.text-hover-error:hover {
  color: #ff0000;
}

.bg-error {
  background-color: #ff0000;
}

.text-info {
  color: #eed532;
}

.text-hover-info:hover {
  color: #eed532;
}

.bg-info {
  background-color: #eed532;
}

.text-accent {
  color: #34547A;
}

.text-hover-accent:hover {
  color: #34547A;
}

.bg-accent {
  background-color: #34547A;
}

.text-white {
  color: #fff;
}

.text-hover-white:hover {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.text-black {
  color: #000;
}

.text-hover-black:hover {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.text-purple {
  color: #9900ff;
}

.text-hover-purple:hover {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-orange {
  color: #fd7a00;
}

.text-hover-orange:hover {
  color: #fd7a00;
}

.bg-orange {
  background-color: #fd7a00;
}

.text-gray {
  color: #EEEFF1;
}

.text-hover-gray:hover {
  color: #EEEFF1;
}

.bg-gray {
  background-color: #EEEFF1;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.default-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1.5rem 5.1375rem;
  background-color: #34547A;
  color: #fff;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #2f6cee;
  color: #fff;
}
.btn-primary:hover {
  background-color: #769ef4;
}

.btn-primary-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #447bf0;
}

.btn-primary-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #5989f1;
}

.btn-primary-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #6d98f3;
}

.btn-primary-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #82a7f5;
}

.btn-primary-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #97b6f7;
}

.btn-primary-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #acc4f8;
}

.btn-primary-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #c1d3fa;
}

.btn-primary-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #d5e2fc;
}

.btn-primary-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #eaf0fd;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #31eda8;
  color: #fff;
}
.btn-secondary:hover {
  background-color: #77f3c6;
}

.btn-secondary-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #46efb1;
}

.btn-secondary-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #5af1b9;
}

.btn-secondary-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #6ff2c2;
}

.btn-secondary-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #83f4cb;
}

.btn-secondary-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #98f6d4;
}

.btn-secondary-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #adf8dc;
}

.btn-secondary-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #c1fae5;
}

.btn-secondary-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #d6fbee;
}

.btn-secondary-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #eafdf6;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #ff0000;
}
.btn-error:hover {
  background-color: #ff4d4d;
}

.btn-error-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ff1a1a;
}

.btn-error-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ff3333;
}

.btn-error-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ff4d4d;
}

.btn-error-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ff6666;
}

.btn-error-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ff8080;
}

.btn-error-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ff9999;
}

.btn-error-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ffb3b3;
}

.btn-error-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ffcccc;
}

.btn-error-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ffe6e6;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #eed532;
  color: #fff;
}
.btn-info:hover {
  background-color: #f4e379;
}

.btn-info-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f0d947;
}

.btn-info-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f1dd5b;
}

.btn-info-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f3e270;
}

.btn-info-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f5e684;
}

.btn-info-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f7ea99;
}

.btn-info-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f8eead;
}

.btn-info-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #faf2c2;
}

.btn-info-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fcf7d6;
}

.btn-info-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fdfbeb;
}

.btn-accent {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #34547A;
  color: #fff;
}
.btn-accent:hover {
  background-color: #4b79b0;
}

.btn-accent-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #486587;
}

.btn-accent-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #5d7695;
}

.btn-accent-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #7187a2;
}

.btn-accent-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #8598af;
}

.btn-accent-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #9aaabd;
}

.btn-accent-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #aebbca;
}

.btn-accent-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #c2ccd7;
}

.btn-accent-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #d6dde4;
}

.btn-accent-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ebeef2;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fff;
}
.btn-white:hover {
  background-color: white;
}

.btn-white-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  color: #fff;
}
.btn-black:hover {
  background-color: #262626;
}

.btn-black-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #1a1a1a;
}

.btn-black-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #333333;
}

.btn-black-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #4d4d4d;
}

.btn-black-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #666666;
}

.btn-black-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: gray;
}

.btn-black-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #999999;
}

.btn-black-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #b3b3b3;
}

.btn-black-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #cccccc;
}

.btn-black-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #e6e6e6;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #9900ff;
}
.btn-purple:hover {
  background-color: #b84dff;
}

.btn-purple-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #a31aff;
}

.btn-purple-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ad33ff;
}

.btn-purple-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #b84dff;
}

.btn-purple-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #c266ff;
}

.btn-purple-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #cc80ff;
}

.btn-purple-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #d699ff;
}

.btn-purple-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #e0b3ff;
}

.btn-purple-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ebccff;
}

.btn-purple-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f5e6ff;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #fd7a00;
}
.btn-orange:hover {
  background-color: #ffa24b;
}

.btn-orange-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fd871a;
}

.btn-orange-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fd9533;
}

.btn-orange-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fea24d;
}

.btn-orange-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #feaf66;
}

.btn-orange-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #febd80;
}

.btn-orange-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #feca99;
}

.btn-orange-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fed7b3;
}

.btn-orange-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ffe4cc;
}

.btn-orange-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fff2e6;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #EEEFF1;
  color: #fff;
}
.btn-gray:hover {
  background-color: white;
}

.btn-gray-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f0f1f2;
}

.btn-gray-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f1f2f4;
}

.btn-gray-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f3f4f5;
}

.btn-gray-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f5f5f7;
}

.btn-gray-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f7f7f8;
}

.btn-gray-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f8f9f9;
}

.btn-gray-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fafafb;
}

.btn-gray-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fcfcfc;
}

.btn-gray-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fdfdfe;
}

.m-1 {
  margin: 0.75rem;
}

.mx-1 {
  margin: 0 0.75rem;
}

.my-1 {
  margin: 0.75rem 0;
}

.ml-1 {
  margin-left: 0.75rem;
}

.mr-1 {
  margin-right: 0.75rem;
}

.p-1 {
  padding: 0.75rem;
}

.px-1 {
  padding: 0 0.75rem;
}

.my-1 {
  padding: 0.75rem 0;
}

.pl-1 {
  padding-left: 0.75rem;
}

.pr-1 {
  margin-right: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.mx-2 {
  margin: 0 1.5rem;
}

.my-2 {
  margin: 1.5rem 0;
}

.ml-2 {
  margin-left: 1.5rem;
}

.mr-2 {
  margin-right: 1.5rem;
}

.p-2 {
  padding: 1.5rem;
}

.px-2 {
  padding: 0 1.5rem;
}

.my-2 {
  padding: 1.5rem 0;
}

.pl-2 {
  padding-left: 1.5rem;
}

.pr-2 {
  margin-right: 1.5rem;
}

.m-3 {
  margin: 2.25rem;
}

.mx-3 {
  margin: 0 2.25rem;
}

.my-3 {
  margin: 2.25rem 0;
}

.ml-3 {
  margin-left: 2.25rem;
}

.mr-3 {
  margin-right: 2.25rem;
}

.p-3 {
  padding: 2.25rem;
}

.px-3 {
  padding: 0 2.25rem;
}

.my-3 {
  padding: 2.25rem 0;
}

.pl-3 {
  padding-left: 2.25rem;
}

.pr-3 {
  margin-right: 2.25rem;
}

.m-4 {
  margin: 3rem;
}

.mx-4 {
  margin: 0 3rem;
}

.my-4 {
  margin: 3rem 0;
}

.ml-4 {
  margin-left: 3rem;
}

.mr-4 {
  margin-right: 3rem;
}

.p-4 {
  padding: 3rem;
}

.px-4 {
  padding: 0 3rem;
}

.my-4 {
  padding: 3rem 0;
}

.pl-4 {
  padding-left: 3rem;
}

.pr-4 {
  margin-right: 3rem;
}

.m-5 {
  margin: 3.75rem;
}

.mx-5 {
  margin: 0 3.75rem;
}

.my-5 {
  margin: 3.75rem 0;
}

.ml-5 {
  margin-left: 3.75rem;
}

.mr-5 {
  margin-right: 3.75rem;
}

.p-5 {
  padding: 3.75rem;
}

.px-5 {
  padding: 0 3.75rem;
}

.my-5 {
  padding: 3.75rem 0;
}

.pl-5 {
  padding-left: 3.75rem;
}

.pr-5 {
  margin-right: 3.75rem;
}/*# sourceMappingURL=index.css.map */