@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header {
  justify-content: space-between;
}
@media (max-width: 960px) {
  .header {
    justify-content: flex-start;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}

.rubik-bold {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bottom-header p {
  width: 545px;
}

.bottom-header {
  width: 555px;
  display: flex;
}
@media (max-width: 960px) {
  .bottom-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }
}

.rubik-medium {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rubik-regular {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.display-flex {
  display: flex;
}

.logo p,
.logo span {
  font-size: 20px;
}

.logo p {
  margin-top: 5px;
}

.brands img {
  cursor: pointer;
}

.button {
  width: 250px;
  height: 60px;
  background-color: #F53838;
  border: 1px solid #F53838;
  border-radius: 10px;
  font-size: 16px;
  color: aliceblue;
  box-shadow: 1px 25px 40px rgba(245, 56, 56, 0.3490196078);
  cursor: pointer;
}

.sign-in {
  padding-top: 12px;
  cursor: pointer;
}

.first-title p {
  line-height: 2;
  margin-bottom: 50px;
}

.first-title {
  width: 555px;
  margin-right: 40px;
}
@media (max-width: 960px) {
  .first-title {
    margin-top: 0;
  }
}

.first-title h1 {
  font-size: 50px;
  line-height: 1.5;
  width: 555px;
}
@media (max-width: 960px) {
  .first-title h1 {
    margin-top: 0;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 8.62px;
}

.ul i {
  font-size: 24px;
  margin-right: 10px;
}

.ul li {
  line-height: 3.5;
}

.feature-div p {
  line-height: 2;
  width: 450px;
  color: #4F5665;
}

.standart-title {
  width: 555px;
  margin-left: auto;
  margin-right: auto;
}

.standart-title h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  width: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.standart-title p {
  text-align: center;
  line-height: 2.3;
}

.feature-div li {
  color: #4F5665;
}

.rest h3 {
  font-size: 24px;
}

.card {
  width: 330px;
  height: 760px;
  border-radius: 10px;
  border: 2px solid #dddddd;
  background: #ffffff;
  margin-right: 50px;
}
@media (max-width: 960px) {
  .card {
    width: 80%;
    height: 500px;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
}

#burger-menu {
  width: 50px;
  height: 40px;
  background: #dddddd;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
  display: none;
  cursor: pointer;
}
@media (max-width: 960px) {
  #burger-menu {
    display: block;
  }
}

@media (max-width: 960px) {
  #nav {
    display: none;
    line-height: 2;
  }
}

@media (max-width: 960px) {
  nav {
    width: 100px;
    margin-bottom: 0;
  }
}

@media (max-width: 960px) {
  .h2 {
    margin-right: auto;
    margin-left: auto;
    width: 200px;
  }
}

.icon-div {
  width: 55px;
  height: 55px;
  border-radius: 70px;
  background-color: #ffecec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  margin-top: 79px;
  margin-left: 92.55px;
  margin-right: 92.55px;
}
@media (max-width: 960px) {
  .card img {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.card i {
  color: #2FAB73;
  margin-right: 20px;
}

.card h3 {
  text-align: center;
  color: #0B132A;
  margin-bottom: 30px;
}
.card ul {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
  height: 150px;
  line-height: 1.8;
}
@media (max-width: 960px) {
  .card ul {
    margin-bottom: 0;
    width: 190px;
  }
}

.card h2 {
  text-align: center;
  margin-top: 130px;
  margin-bottom: 20px;
}
@media (max-width: 960px) {
  .card h2 {
    margin-top: 0;
    margin-bottom: 5px;
  }
}

.reddd {
  color: #d4d4d4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.brands {
  justify-content: space-between;
  display: flex;
  justify-content: center;
  margin-right: 100px;
}
@media (max-width: 960px) {
  .brands {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
  }
}

@media (max-width: 960px) {
  .brands img {
    width: 800px;
    height: 145px;
  }
}

@media (max-width: 960px) {
  .map img {
    max-width: 800px;
    height: 420px;
    min-width: 500px;
    margin-right: 50px;
    margin-left: 50px;
  }
}

.round {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #d4d4d4;
}

.spot {
  color: #d4d4d4;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
}

.select {
  font-size: 16px;
  border: 2px solid #F53838;
  color: #F53838;
  border-radius: 50px;
  width: 177.88px;
  height: 45px;
  margin-right: 76px;
  margin-left: 76px;
  cursor: pointer;
}
@media (max-width: 960px) {
  .select {
    margin-left: 0;
    margin-right: 0;
    width: 85%;
  }
}

.card li {
  font-size: 14px;
  color: #4F5665;
}
@media (max-width: 960px) {
  .card li {
    margin-bottom: 0;
    float: left;
  }
}

@media (max-width: 960px) {
  .card img {
    width: 180px;
    height: 200px;
  }
}

.cards {
  margin-top: 60px;
}
@media (max-width: 960px) {
  .cards {
    display: block;
  }
}

.mainIcons {
  justify-content: space-around;
  width: 1140px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 78px;
  height: 120px;
  text-align: center;
}
@media (max-width: 960px) {
  .mainIcons {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }
}

a {
  text-decoration: none;
  color: #4F5665;
}

.sign-btn {
  color: #F53838;
  border: 1px solid #F53838;
  background-color: aliceblue;
  width: 150px;
  height: 45px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

.ul {
  display: block;
}

.feature-div {
  width: 508px;
  height: 417px;
  margin-top: 55px;
  margin-left: 150px;
}

.feature-div h3 {
  font-size: 36px;
  width: 400px;
  margin-bottom: 15px;
}

.features {
  width: 1000px;
}
@media (max-width: 960px) {
  .features {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }
}

.slider {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.slide {
  margin-right: 40px;
}
@media (max-width: 960px) {
  .slide {
    margin-right: 0;
  }
}

.slider-content {
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 400px;
  height: 230px;
  padding: 30px;
}

.slide-person {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.person {
  display: flex;
  flex-direction: row;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.feedback {
  text-align: left;
  margin-top: 15px;
}

.rate {
  width: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  height: 16px;
}

.control-slider {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 960px) {
  .control-slider {
    display: none;
  }
}

.points {
  display: flex;
}

.point {
  background-color: #dde0e4;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  margin-right: 10px;
  border: 0px;
  transition: all 0.3s linear;
}

.arrows {
  width: 140px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 960px) {
  .arrows {
    display: none;
  }
}

.arrow {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 2px solid #f53838;
  background-color: #fff;
  transition: all 0.15s linear;
}

.arrow-right {
  background-color: #fff;
  background-image: url("../img/icons/arrowRedRight.png");
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-right:hover {
  background-color: #f53838;
  transition: all 0.15s linear;
  background-image: url("../img/icons/arrowWhiteRight.png");
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-left {
  background-color: #fff;
  background-image: url("../img/icons/arrowRedLeft.png");
  background-repeat: no-repeat;
  background-position: center;
}

.arrow-left:hover {
  background-color: #f53838;
  transition: all 0.15s linear;
  background-image: url("../img/icons/arrowWhiteLeft.png");
  background-repeat: no-repeat;
  background-position: center;
}

.name {
  font-size: 18px;
  font-weight: 600;
}

.city {
  font-size: 14px;
  font-weight: 400;
}

.av {
  width: 50px;
  height: 50px;
}

.active-slide {
  border: 2px solid #f53838;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.active-point {
  width: 45px;
  background-color: #f53838;
}

.hide {
  display: none;
}

.cont {
  width: 1470px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 960px) {
  .cont {
    width: 463px;
  }
}

.sub {
  width: 1140px;
  height: 233px;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .sub {
    display: block;
    height: 300px;
    margin-left: 300px;
    text-align: center;
  }
}

.subscribe {
  width: 370px;
  line-height: 1.5;
}

.subscribe h2 {
  font-size: 35px;
}

.subscribe p {
  margin-top: 15px;
}

.sub button {
  margin-right: 70px;
}
@media (max-width: 960px) {
  .sub button {
    text-align: center;
    margin-right: 800px;
    width: 250px;
  }
}

.icon {
  width: 33.6px;
  height: 33.6px;
  background: rgb(228, 228, 228);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 20px;
}

.icon i {
  color: #F53838;
}

.pep {
  width: 340px;
  height: 61.57px;
  line-height: 2;
}

.contat {
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}

footer {
  width: 1150px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
}
@media (max-width: 960px) {
  footer {
    display: block;
  }
}

@media (max-width: 960px) {
  .footer {
    margin-left: 300px;
  }
}

.rows {
  margin-left: 230px;
}
@media (max-width: 960px) {
  .rows {
    margin-left: 160px;
  }
}

.row1 {
  margin-right: 126px;
  line-height: 2.5;
  width: 74px;
}

.rows span {
  font-size: 20px;
}

.row2 {
  margin-right: 136px;
  line-height: 2.5;
  width: 140px;
}
@media (max-width: 960px) {
  .row2 {
    margin-right: 60px;
  }
}

.row3 {
  line-height: 2.5;
  width: 130px;
}

.text-primary {
  color: #2f6cee;
}

.text-hover-primary:hover {
  color: #2f6cee;
}

.bg-primary {
  background-color: #2f6cee;
}

.text-secondary {
  color: #31eda8;
}

.text-hover-secondary:hover {
  color: #31eda8;
}

.bg-secondary {
  background-color: #31eda8;
}

.text-primary-red {
  color: #F53838;
}

.text-hover-primary-red:hover {
  color: #F53838;
}

.bg-primary-red {
  background-color: #F53838;
}

.text-dark {
  color: #0B132A;
}

.text-hover-dark:hover {
  color: #0B132A;
}

.bg-dark {
  background-color: #0B132A;
}

.text-dark-gray {
  color: #4F5665;
}

.text-hover-dark-gray:hover {
  color: #4F5665;
}

.bg-dark-gray {
  background-color: #4F5665;
}

.text-error {
  color: #ff0000;
}

.text-hover-error:hover {
  color: #ff0000;
}

.bg-error {
  background-color: #ff0000;
}

.text-info {
  color: #eed532;
}

.text-hover-info:hover {
  color: #eed532;
}

.bg-info {
  background-color: #eed532;
}

.text-check {
  color: #2FAB73;
}

.text-hover-check:hover {
  color: #2FAB73;
}

.bg-check {
  background-color: #2FAB73;
}

.text-accent {
  color: #34547A;
}

.text-hover-accent:hover {
  color: #34547A;
}

.bg-accent {
  background-color: #34547A;
}

.text-white {
  color: #fff;
}

.text-hover-white:hover {
  color: #fff;
}

.bg-white {
  background-color: #fff;
}

.text-black {
  color: #000;
}

.text-hover-black:hover {
  color: #000;
}

.bg-black {
  background-color: #000;
}

.text-purple {
  color: #9900ff;
}

.text-hover-purple:hover {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-orange {
  color: #fd7a00;
}

.text-hover-orange:hover {
  color: #fd7a00;
}

.bg-orange {
  background-color: #fd7a00;
}

.text-gray {
  color: #AFB5C0;
}

.text-hover-gray:hover {
  color: #AFB5C0;
}

.bg-gray {
  background-color: #AFB5C0;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
}

.default-btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 1.57rem 5.37725rem;
  background-color: #34547A;
  color: #fff;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #2f6cee;
  color: #fff;
}
.btn-primary:hover {
  background-color: #769ef4;
}

.btn-primary-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #447bf0;
}

.btn-primary-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #5989f1;
}

.btn-primary-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #6d98f3;
}

.btn-primary-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #82a7f5;
}

.btn-primary-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #97b6f7;
}

.btn-primary-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #acc4f8;
}

.btn-primary-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #c1d3fa;
}

.btn-primary-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #d5e2fc;
}

.btn-primary-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #eaf0fd;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #31eda8;
  color: #fff;
}
.btn-secondary:hover {
  background-color: #77f3c6;
}

.btn-secondary-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #46efb1;
}

.btn-secondary-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #5af1b9;
}

.btn-secondary-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #6ff2c2;
}

.btn-secondary-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #83f4cb;
}

.btn-secondary-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #98f6d4;
}

.btn-secondary-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #adf8dc;
}

.btn-secondary-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #c1fae5;
}

.btn-secondary-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #d6fbee;
}

.btn-secondary-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #eafdf6;
}

.btn-primary-red {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #F53838;
  color: #fff;
}
.btn-primary-red:hover {
  background-color: #f98181;
}

.btn-primary-red-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f64c4c;
}

.btn-primary-red-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f76060;
}

.btn-primary-red-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f87474;
}

.btn-primary-red-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f98888;
}

.btn-primary-red-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fa9c9c;
}

.btn-primary-red-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fbafaf;
}

.btn-primary-red-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fcc3c3;
}

.btn-primary-red-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fdd7d7;
}

.btn-primary-red-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #feebeb;
}

.btn-dark {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #0B132A;
  color: #fff;
}
.btn-dark:hover {
  background-color: #1b2e67;
}

.btn-dark-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #232b3f;
}

.btn-dark-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #3c4255;
}

.btn-dark-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #545a6a;
}

.btn-dark-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #6d717f;
}

.btn-dark-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #858995;
}

.btn-dark-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #9da1aa;
}

.btn-dark-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #b6b8bf;
}

.btn-dark-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ced0d4;
}

.btn-dark-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #e7e7ea;
}

.btn-dark-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #4F5665;
  color: #fff;
}
.btn-dark-gray:hover {
  background-color: #717b90;
}

.btn-dark-gray-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #616774;
}

.btn-dark-gray-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #727884;
}

.btn-dark-gray-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #848993;
}

.btn-dark-gray-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #959aa3;
}

.btn-dark-gray-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #a7abb2;
}

.btn-dark-gray-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #b9bbc1;
}

.btn-dark-gray-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #caccd1;
}

.btn-dark-gray-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #dcdde0;
}

.btn-dark-gray-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #edeef0;
}

.btn-error {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #ff0000;
}
.btn-error:hover {
  background-color: #ff4d4d;
}

.btn-error-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ff1a1a;
}

.btn-error-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ff3333;
}

.btn-error-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ff4d4d;
}

.btn-error-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ff6666;
}

.btn-error-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ff8080;
}

.btn-error-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ff9999;
}

.btn-error-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ffb3b3;
}

.btn-error-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ffcccc;
}

.btn-error-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ffe6e6;
}

.btn-info {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #eed532;
  color: #fff;
}
.btn-info:hover {
  background-color: #f4e379;
}

.btn-info-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f0d947;
}

.btn-info-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f1dd5b;
}

.btn-info-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f3e270;
}

.btn-info-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f5e684;
}

.btn-info-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f7ea99;
}

.btn-info-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f8eead;
}

.btn-info-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #faf2c2;
}

.btn-info-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fcf7d6;
}

.btn-info-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fdfbeb;
}

.btn-check {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #2FAB73;
  color: #fff;
}
.btn-check:hover {
  background-color: #56d199;
}

.btn-check-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #44b381;
}

.btn-check-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #59bc8f;
}

.btn-check-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #6dc49d;
}

.btn-check-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #82cdab;
}

.btn-check-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #97d5b9;
}

.btn-check-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #acddc7;
}

.btn-check-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #c1e6d5;
}

.btn-check-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #d5eee3;
}

.btn-check-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #eaf7f1;
}

.btn-accent {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #34547A;
  color: #fff;
}
.btn-accent:hover {
  background-color: #4b79b0;
}

.btn-accent-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #486587;
}

.btn-accent-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #5d7695;
}

.btn-accent-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #7187a2;
}

.btn-accent-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #8598af;
}

.btn-accent-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #9aaabd;
}

.btn-accent-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #aebbca;
}

.btn-accent-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #c2ccd7;
}

.btn-accent-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #d6dde4;
}

.btn-accent-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ebeef2;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #fff;
}
.btn-white:hover {
  background-color: white;
}

.btn-white-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-white-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: white;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  color: #fff;
}
.btn-black:hover {
  background-color: #262626;
}

.btn-black-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #1a1a1a;
}

.btn-black-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #333333;
}

.btn-black-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #4d4d4d;
}

.btn-black-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #666666;
}

.btn-black-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: gray;
}

.btn-black-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #999999;
}

.btn-black-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #b3b3b3;
}

.btn-black-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #cccccc;
}

.btn-black-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #e6e6e6;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #9900ff;
}
.btn-purple:hover {
  background-color: #b84dff;
}

.btn-purple-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #a31aff;
}

.btn-purple-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ad33ff;
}

.btn-purple-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #b84dff;
}

.btn-purple-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #c266ff;
}

.btn-purple-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #cc80ff;
}

.btn-purple-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #d699ff;
}

.btn-purple-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #e0b3ff;
}

.btn-purple-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ebccff;
}

.btn-purple-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f5e6ff;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #fd7a00;
}
.btn-orange:hover {
  background-color: #ffa24b;
}

.btn-orange-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fd871a;
}

.btn-orange-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fd9533;
}

.btn-orange-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fea24d;
}

.btn-orange-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #feaf66;
}

.btn-orange-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #febd80;
}

.btn-orange-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #feca99;
}

.btn-orange-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fed7b3;
}

.btn-orange-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #ffe4cc;
}

.btn-orange-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #fff2e6;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #AFB5C0;
  color: #fff;
}
.btn-gray:hover {
  background-color: #dadde2;
}

.btn-gray-light-1 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #b7bcc6;
}

.btn-gray-light-2 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #bfc4cd;
}

.btn-gray-light-3 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #c7cbd3;
}

.btn-gray-light-4 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #cfd3d9;
}

.btn-gray-light-5 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #d7dae0;
}

.btn-gray-light-6 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #dfe1e6;
}

.btn-gray-light-7 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #e7e9ec;
}

.btn-gray-light-8 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #eff0f2;
}

.btn-gray-light-9 {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.785rem 1.57rem;
  border-radius: 20px;
  background-color: #e2e2e2;
  background-color: #f7f8f9;
}

.m-1 {
  margin: 0.785rem;
}

.mt-1 {
  margin-top: 0.785rem;
}

.mb-1 {
  margin-bottom: 0.785rem;
}

.ml-1 {
  margin-left: 0.785rem;
}

.mr-1 {
  margin-right: 0.785rem;
}

.p-1 {
  padding: 0.785rem;
}

.pt-1 {
  padding-top: 0.785rem;
}

.pb-1 {
  padding-bottom: 0.785rem;
}

.pl-1 {
  padding-left: 0.785rem;
}

.pr-1 {
  margin-right: 0.785rem;
}

.m-2 {
  margin: 1.57rem;
}

.mt-2 {
  margin-top: 1.57rem;
}

.mb-2 {
  margin-bottom: 1.57rem;
}

.ml-2 {
  margin-left: 1.57rem;
}

.mr-2 {
  margin-right: 1.57rem;
}

.p-2 {
  padding: 1.57rem;
}

.pt-2 {
  padding-top: 1.57rem;
}

.pb-2 {
  padding-bottom: 1.57rem;
}

.pl-2 {
  padding-left: 1.57rem;
}

.pr-2 {
  margin-right: 1.57rem;
}

.m-3 {
  margin: 2.355rem;
}

.mt-3 {
  margin-top: 2.355rem;
}

.mb-3 {
  margin-bottom: 2.355rem;
}

.ml-3 {
  margin-left: 2.355rem;
}

.mr-3 {
  margin-right: 2.355rem;
}

.p-3 {
  padding: 2.355rem;
}

.pt-3 {
  padding-top: 2.355rem;
}

.pb-3 {
  padding-bottom: 2.355rem;
}

.pl-3 {
  padding-left: 2.355rem;
}

.pr-3 {
  margin-right: 2.355rem;
}

.m-4 {
  margin: 3.14rem;
}

.mt-4 {
  margin-top: 3.14rem;
}

.mb-4 {
  margin-bottom: 3.14rem;
}

.ml-4 {
  margin-left: 3.14rem;
}

.mr-4 {
  margin-right: 3.14rem;
}

.p-4 {
  padding: 3.14rem;
}

.pt-4 {
  padding-top: 3.14rem;
}

.pb-4 {
  padding-bottom: 3.14rem;
}

.pl-4 {
  padding-left: 3.14rem;
}

.pr-4 {
  margin-right: 3.14rem;
}

.m-5 {
  margin: 3.925rem;
}

.mt-5 {
  margin-top: 3.925rem;
}

.mb-5 {
  margin-bottom: 3.925rem;
}

.ml-5 {
  margin-left: 3.925rem;
}

.mr-5 {
  margin-right: 3.925rem;
}

.p-5 {
  padding: 3.925rem;
}

.pt-5 {
  padding-top: 3.925rem;
}

.pb-5 {
  padding-bottom: 3.925rem;
}

.pl-5 {
  padding-left: 3.925rem;
}

.pr-5 {
  margin-right: 3.925rem;
}

.m-6 {
  margin: 4.71rem;
}

.mt-6 {
  margin-top: 4.71rem;
}

.mb-6 {
  margin-bottom: 4.71rem;
}

.ml-6 {
  margin-left: 4.71rem;
}

.mr-6 {
  margin-right: 4.71rem;
}

.p-6 {
  padding: 4.71rem;
}

.pt-6 {
  padding-top: 4.71rem;
}

.pb-6 {
  padding-bottom: 4.71rem;
}

.pl-6 {
  padding-left: 4.71rem;
}

.pr-6 {
  margin-right: 4.71rem;
}

.m-7 {
  margin: 5.495rem;
}

.mt-7 {
  margin-top: 5.495rem;
}

.mb-7 {
  margin-bottom: 5.495rem;
}

.ml-7 {
  margin-left: 5.495rem;
}

.mr-7 {
  margin-right: 5.495rem;
}

.p-7 {
  padding: 5.495rem;
}

.pt-7 {
  padding-top: 5.495rem;
}

.pb-7 {
  padding-bottom: 5.495rem;
}

.pl-7 {
  padding-left: 5.495rem;
}

.pr-7 {
  margin-right: 5.495rem;
}

.m-8 {
  margin: 6.28rem;
}

.mt-8 {
  margin-top: 6.28rem;
}

.mb-8 {
  margin-bottom: 6.28rem;
}

.ml-8 {
  margin-left: 6.28rem;
}

.mr-8 {
  margin-right: 6.28rem;
}

.p-8 {
  padding: 6.28rem;
}

.pt-8 {
  padding-top: 6.28rem;
}

.pb-8 {
  padding-bottom: 6.28rem;
}

.pl-8 {
  padding-left: 6.28rem;
}

.pr-8 {
  margin-right: 6.28rem;
}

.m-9 {
  margin: 7.065rem;
}

.mt-9 {
  margin-top: 7.065rem;
}

.mb-9 {
  margin-bottom: 7.065rem;
}

.ml-9 {
  margin-left: 7.065rem;
}

.mr-9 {
  margin-right: 7.065rem;
}

.p-9 {
  padding: 7.065rem;
}

.pt-9 {
  padding-top: 7.065rem;
}

.pb-9 {
  padding-bottom: 7.065rem;
}

.pl-9 {
  padding-left: 7.065rem;
}

.pr-9 {
  margin-right: 7.065rem;
}

.m-10 {
  margin: 7.85rem;
}

.mt-10 {
  margin-top: 7.85rem;
}

.mb-10 {
  margin-bottom: 7.85rem;
}

.ml-10 {
  margin-left: 7.85rem;
}

.mr-10 {
  margin-right: 7.85rem;
}

.p-10 {
  padding: 7.85rem;
}

.pt-10 {
  padding-top: 7.85rem;
}

.pb-10 {
  padding-bottom: 7.85rem;
}

.pl-10 {
  padding-left: 7.85rem;
}

.pr-10 {
  margin-right: 7.85rem;
}

.m-11 {
  margin: 8.635rem;
}

.mt-11 {
  margin-top: 8.635rem;
}

.mb-11 {
  margin-bottom: 8.635rem;
}

.ml-11 {
  margin-left: 8.635rem;
}

.mr-11 {
  margin-right: 8.635rem;
}

.p-11 {
  padding: 8.635rem;
}

.pt-11 {
  padding-top: 8.635rem;
}

.pb-11 {
  padding-bottom: 8.635rem;
}

.pl-11 {
  padding-left: 8.635rem;
}

.pr-11 {
  margin-right: 8.635rem;
}

.m-12 {
  margin: 9.42rem;
}

.mt-12 {
  margin-top: 9.42rem;
}

.mb-12 {
  margin-bottom: 9.42rem;
}

.ml-12 {
  margin-left: 9.42rem;
}

.mr-12 {
  margin-right: 9.42rem;
}

.p-12 {
  padding: 9.42rem;
}

.pt-12 {
  padding-top: 9.42rem;
}

.pb-12 {
  padding-bottom: 9.42rem;
}

.pl-12 {
  padding-left: 9.42rem;
}

.pr-12 {
  margin-right: 9.42rem;
}

.m-13 {
  margin: 10.205rem;
}

.mt-13 {
  margin-top: 10.205rem;
}

.mb-13 {
  margin-bottom: 10.205rem;
}

.ml-13 {
  margin-left: 10.205rem;
}

.mr-13 {
  margin-right: 10.205rem;
}

.p-13 {
  padding: 10.205rem;
}

.pt-13 {
  padding-top: 10.205rem;
}

.pb-13 {
  padding-bottom: 10.205rem;
}

.pl-13 {
  padding-left: 10.205rem;
}

.pr-13 {
  margin-right: 10.205rem;
}

.m-14 {
  margin: 10.99rem;
}

.mt-14 {
  margin-top: 10.99rem;
}

.mb-14 {
  margin-bottom: 10.99rem;
}

.ml-14 {
  margin-left: 10.99rem;
}

.mr-14 {
  margin-right: 10.99rem;
}

.p-14 {
  padding: 10.99rem;
}

.pt-14 {
  padding-top: 10.99rem;
}

.pb-14 {
  padding-bottom: 10.99rem;
}

.pl-14 {
  padding-left: 10.99rem;
}

.pr-14 {
  margin-right: 10.99rem;
}

.m-15 {
  margin: 11.775rem;
}

.mt-15 {
  margin-top: 11.775rem;
}

.mb-15 {
  margin-bottom: 11.775rem;
}

.ml-15 {
  margin-left: 11.775rem;
}

.mr-15 {
  margin-right: 11.775rem;
}

.p-15 {
  padding: 11.775rem;
}

.pt-15 {
  padding-top: 11.775rem;
}

.pb-15 {
  padding-bottom: 11.775rem;
}

.pl-15 {
  padding-left: 11.775rem;
}

.pr-15 {
  margin-right: 11.775rem;
}/*# sourceMappingURL=index.css.map */