* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(180, 180, 180);
}
.container {
  width: 90%;
  max-width: 1110px;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.my-rem {
  margin-top: 1rem;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-content {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

#myCanvas {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #000;
  padding: 0;
}
.cont {
  margin-left: auto;
  margin-right: auto;
  max-width: 703px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
  margin-top: 70px;
  border-radius: 50% 50% 0 0;
  padding-top: 35px;
  border: #000 solid 1px;
}
#form {
  width: 50%;
  margin-left: 55px;
}
input {
  width: 80%;
  background: rgb(192, 192, 192);
  height: 65%;
  text-align: center;
  border: none;
}
label {
  font-size: 25px;
}
#alpha {
  border-radius: 15px;
  color: azure;
  font-size: 20px;
}

#alpha:focus {
  background: rgb(127, 182, 245);
}
.button {
  margin-right: auto;
  margin-left: auto;
  max-width: 703px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 0 0 50% 50%;
  border: 1px solid #000;
}
#clearBtn {
  width: 235px;
  height: 70px;
  font-size: 25px;
  border-radius: 47%;
  color: #fffdfd;
  font-weight: 600;
  border: none;
  background: rgb(91, 192, 222);
}

#clearBtn:hover{
    background: rgb(39, 167, 206);
}